.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #4a4a4a;
}

.box.hide {
  visibility: hidden;
  pointer-events: none;
}

.box.boxWithRing::before {
  display: block;
  content: '';
  visibility: visible;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(214, 33, 33);
  background-color: rgb(214, 33, 33);
  border-radius: 50%;
  z-index: -1;
}

.boxesConteiner {
  display: grid;
  grid-gap: 2px;
  max-width: 310px;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  margin: 30px auto;
  border: 1px solid black;
}

.counts {
  display: inline-block;
}
